/* universal box format */
* {
    box-sizing: border-box;
}

/* color palatte */
:root {
    --dark-terracotta: #e27d60;
    --baby-baby: #85dcba;
    --light-terracotta: #e8a87c;
    --paige: #c38d9e;
    --sea: #41b3a3;
    --off-black: #2b2b2c;
}

/* body formatting */
body {
    margin: 0;
    padding: 0;
    background-color: var(--sea);
    color: var(--off-black);
    font-family: "europa", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* header formatting */
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--sea);
}

header h1 {
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    color: var(--off-black);
    background-color: var(--paige);
}

/* navigation links formatting */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    margin-right: 10px;
    color: var(--off-black);
    text-decoration: none;
    background-image: linear-gradient(270deg, var(--light-terracotta) 0%, var(--light-terracotta) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all .25 ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--off-black);
}

nav a:last-child {
    margin-right: 0;
}

/* Epcot banner image and sub-quote */
.hero-banner {
    background-color: var(--paige);
    background-image: url("../images/Epcot.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    color: var(--off-black);
    background-color: var(--light-terracotta);
    margin: 0;
    padding: 5px 10px;
    font-size: 1.5rem;
    line-height: 1.2;
    display: inline;
}

/* main section formatting */
.main-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.main-section {
    margin: 25px 0px;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.main-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--light-terracotta);
    font-size: 4vw;
    line-height: 1.1;
}

.main-section > div {
    flex: 0 0 77%;
}

/* about me image and font formatting */
#about-me-container {
    display: flex;
    align-items: center;
}

.main-section img {
    max-width: 400px;
}

#about-me-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 108%;
}

#about-me-p1 {
    margin-bottom: 20px;
}

/* contains project tiles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid;
    background-color: var(--off-black);
    color: var(--off-black);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s;
    font-size: 0.9rem;
}

/* first portfolio item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

/* hover effect for project links */
.flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* project tile subheadings */
.flex-item div {
    background-color: var(--paige);
    padding: 8px 10px;
}

.flex-item h3 {
    font-size: 1.6rem;
}

/* projects images */
.project-main {
    background-image: url("../images/barrels-one.jpg");
}

.project-two {
    background-image: url("../images/hockey.jpg");
} 

.project-three {
    background-image: url("../images/playstation.jpg");
}

.project-four {
    background-image: url("../images/doggo.jpg");
}

.project-five {
    background-image: url("../images/programming.jpg");
}

/* contact links */
.contact-links address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact-links address a {
    color: var(--off-black);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--light-terracotta) 0%, var(--light-terracotta) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

/* contact links hover effect */
.contact-links address a:hover {
    background-size: 100% 88%;
    color: var(--off-black);
}

/* media queries */
@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .main-section > h2,
    .main-section > div {
        flex: 0 0 100%;
        flex-direction: column;
    }

    .main-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--light-terracotta);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }

    .flex-item:first-child {
        min-height: 150px;
    }

    .hero-banner {
        justify-content: center;
        text-align: center;
        line-height: 2em;
    }

    .main-section img {
        max-width: 100%;
        max-height: 100%;
    }

    .contact-links address {
        flex-direction: column;
        align-items: flex-start;
    }
}